DB_URL=jdbc:postgresql://localhost:5432/urlsnap
DB_USERNAME=postgres
DB_PASSWORD=postgres
REDIS_HOST=localhost
REDIS_PORT=6379
JWT_SECRET=urlsn4p-s3cr3t-k3y-2026-m1n1mum-32-ch4rs
JWT_EXPIRATION=86400000
BASE_URL=http://localhost:8080
RATE_LIMIT_MAX=10
RATE_LIMIT_WINDOW_SECONDS=60
